/* 			               01. GENERAL LAYOUT                 */
ul {
    padding: 0;
}

ul,
ol {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    color: #858585;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
}

ul li,
ol li {
    font-size: 17px;
    line-height: 28px;
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
}

ul li i {
    vertical-align: middle;
    padding-right: 5px;
}

p {
    font-size: 17px;
    line-height: 28px;
    font-weight: 400;
    color: #7c8595;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}

a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    outline: 0;
}

a:hover {
    color: #017df7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Nunito", sans-serif;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 20px;
    color: #071e55;
    font-weight: 700;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

h2.section-title {
    text-align: center;
    margin-bottom: 10px;
}

p.section-subtitle {
    font-size: 18px;
}

p.section-subtitle.white {
    color: #ffffff;
}

p.section-subtitle.black {
    color: #252525;
}

iframe {
    max-width: 100%;
    border: none;
}

.iframe-youtube {
    position: relative;
    margin-top: 30px;
    z-index: 100;
}

.iframe-youtube iframe {
    padding: 10px 10px;
    box-shadow: 0 15px 36px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    /* webkit-border-radius: 8px 8px; */
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
    z-index: 100;
}

.popup-gallery:hover .video-popup-image {
    opacity: 1;
}

.video-play-icon {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-top: -45px;
    margin-left: -45px;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 40px;
    color: #007bff;
    background-color: rgba(0, 123, 255, 0.7);
    border-radius: 50% 50%;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-play-icon:hover {
    background-color: rgba(0, 123, 255, 0.99);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-play-icon i {
    color: #fff;
}

.white-text {
    color: #fff;
}

.red {
    color: #e52f37;
}

.strong {
    font-weight: bold;
}

.section-bg-1 {
    background: url(../images/bg3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 110px 0;
}

.section-bg-2 {
    background: url(../images/bg3.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 120px 0;
}

.section-bg-3 {
    background: url(../images/bg1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 140px 0;
}

.section-bg-overlay {
    width: 100%;
    background: #e52f37;
    opacity: 0.95;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.section-white {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 90px 0 100px 0;
}

.section-grey {
    background: #f1faff;
    padding: 90px 0 100px 0;
}

.section-red {
    background: #e52f37;
    padding: 90px 0 100px 0;
}

/**************************************************************/
/* 			               02. MENU-NAV                       */
/**************************************************************/

.header-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    font-size: 28px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    /* Убирает подчеркивание для ссылок */
}

a:hover {
    color: red;
    /* Ссылка красного цвета */
}

ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
    color: #858585;
}

ul li,
ol li {
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
    margin-right: 20px;
}

li > a:hover {
    color: #e52f37 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

li > a.discover-btn {
    display: flex;
    white-space: nowrap;
    border: 1px solid #e52f37;
    color: #fff !important;
    background: #e52f37;
    border-radius: 23px 23px;
    padding: 12px 18px;
    margin-left: 10px;
    margin-right: 15px;
    font-family: "Nunito", sans-serif;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

li > a.discover-btn:hover {
    color: #e52f37 !important;
    background: transparent;
    border: 1px solid #e52f37;
}

/* li > a.discover-btn {
  color: #fff !important;
  background: #e52f37;
  border: 1px solid #e52f37;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
} */

.navbar-brand {
    display: flex;
    align-items: center;
    margin-right: 5%;
    margin-left: 10%;
    font-family: "Nunito", sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #e52f37;
}

.navbar-brand:hover {
    color: #e52f37;
}
.navbar-nav > li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
}

.navbar-nav > li > a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    color: #071e55;
    font-size: 17px !important;
    line-height: 30px !important;
    padding: 10px 15px !important;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

/* ========================================================== */
/* 			                03. FOOTER                        */
/* ========================================================== */

/* ========================================================== */
/* 			               04. HOME                           */
/* ========================================================== */

.home-section {
    display: flex;
    flex-direction: column;
    place-items: wrap;
    align-items: center;
    justify-content: center;
    background: url(../images/bg01.jpg) top center no-repeat;
    background-size: cover;
    opacity: 5;
}

.home-section h1 {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #fff;
    text-shadow: 1px 1px #373737;
}

.home-section p.hero-text {
    text-align: center;
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 30px;
    color: #fff;
    text-shadow: 1px 1px #373737;
    width: 50%;
}

.video-icon {
    display: flex;
    /* justify-content: center;
    align-content: center;
    align-items: center; */
    text-align: center;
    width: 78px;
    height: 78px;
    background: #fff;
    border: 2px solid #fff;
    border-radius: 50% 50%;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    margin-bottom: 10%;
}

.video-icon:before {
    content: "";
    /* width: 78px;
    height: 78px;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 100%;
    left: 50%;
    margin-left: -40px;
    bottom: 10%;
    margin-bottom: -7px; */
    -webkit-animation: doublePulsation 1.9s ease infinite;
    animation: doublePulsation 1.9s ease infinite;
    z-index: 0;
}

.video-icon:hover {
    background: transparent;
}

.video-icon i {
    font-size: 36px;
    line-height: 78px;
    color: #e52a3d;
    margin-left: 5px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.video-icon:hover i {
    color: #fff;
}

@-webkit-keyframes doublePulsation {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
    50% {
        opacity: 0.55;
    }
    100% {
        -webkit-transform: scale(1.3, 1.3);
        opacity: 0;
    }
}

@keyframes doublePulsation {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 0;
    }
    50% {
        opacity: 0.55;
    }
    100% {
        -webkit-transform: scale(1.3, 1.3);
        opacity: 0;
    }
}

.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 20px;
    background-color: #fff;
}

.partners img.partners {
    opacity: 0.4;
    /* max-height: 3%;
    max-width: 10%; */
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.partners img.partners:hover {
    opacity: 0.8;
}

.partners-title {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
    line-height: 78px;
}

@media (max-width: 600px) {
    .partners img.partners {
        margin: 10px 25px 10px 0;
        max-height: 40px;
    }
    .image-shadow {
        max-height: 350px;
    }
}

/*************************SECTION-GRAY*************************************/

.section-grey-head {
    display: flex;
    margin-bottom: 10px;
}

.services-flex {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    flex-direction: row;
    justify-content: space-around;
}

.main-services {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-content: center;
    position: relative;
    margin: 10px 5px;
    overflow: hidden;
    text-align: center;
    width: 170px;
    transition: all 1s;
}

.main-services:hover {
    transform: scale(1.025);
    transition: all 1s;
}

.main-services i {
    margin-bottom: 15px;
    display: inline-block;
    padding: 16px 16px;
    font-size: 40px;
    line-height: 46px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background-color: #e52f37;
}

.main-services.red i {
    background-color: #e52f37;
}

.main-services.blue i {
    background-color: #1e90ff;
}

.main-services.green i {
    background-color: #27b36a;
}

/*************************SECTION-WHITE*************************************/

.section-white-text {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    padding-top: 20px;
    max-width: 500px;
}

.image-shadow {
    border-radius: 8px 8px;
    box-shadow: 10px 12px 40px rgba(0, 0, 0, 0.2);
}

.btn-red {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    background-color: #e52f37;
    border: 1px solid #e52f37;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.27);
    letter-spacing: 1px;
    border-radius: 23px 23px;
    margin: 5px 10px 10px 0;
    padding: 18px 25px;
    width: fit-content;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.btn-red:hover {
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.5);
    color: #fff !important;
    background: #e52f37;
}

.btn-blue.small,
.btn-blue-line.small,
.btn-red.small,
.btn-red-line.small,
.btn-white.small,
.btn-white-border.small {
    display: inline-block;
    font-size: 16px;
    padding: 14px 20px;
}

/* c) Benefits List */
ul.benefits {
    margin-bottom: 20px;
}

ul.benefits li {
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 8px;
}

ul.benefits.white li {
    color: #fff;
}

ul.benefits li i {
    font-size: 18px;
    line-height: 18px;
    margin-right: 1px;
    color: #e52a3d;
}

ul.benefits.white li i {
    color: #fff;
}
/*************************nav-pills*************************************/
.flex-row {
    display: flex;
    flex-direction: row;
}

/* ----- e) Dropcaps Features ----- */
/* .nav-pills {
    max-width: 300px;
} */

.nav-pills .nav-link {
    margin-bottom: 10px;
}

.nav-pills .nav-link,
.nav-pills .show > .nav-link {
    border: none !important;
    transition: all 1s;
}

.nav-pills .nav-link:hover {
    color: #fff;
    background-color: #fff;
    border: none !important;
    border-radius: 8px !important;
    box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.05) !important;
    transition: all 1s;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #fff;
    border: 1px solid #f4f5f6 !important;
    border-radius: 8px !important;
    box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.05) !important;
    -webkit-box-shadow: 0 12px 55px 0 rgba(0, 0, 0, 0.05) !important;
    transition: all 1s;
}

/************************* grid-container *********************/
.gallery {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 7px;
}

.gallery__item--1 {
    grid-column: 1;
    grid-row: 1;
}
.gallery__item--2 {
    grid-column: 1;
    grid-row: 2;
}
.gallery__item--3 {
    grid-column: 2;
    grid-row: 1 / span 2;
}
.gallery__item--4 {
    grid-column: 3;
    grid-row: 1;
}
.gallery__item--5 {
    grid-column: 3;
    grid-row: 2;
}

.gallery__item {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery__img:hover {
    width: 94%;
    height: 94%;
    transition: all 0.7s;
}

@media (max-width: 1000px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }
}

/*************************responsive-tabs*************************************/
.dropcaps-circle.blue {
    color: #1e90ff;
}

.dropcaps-circle.red {
    color: #e52f37;
}

.dropcaps-circle.green {
    color: #27b36a;
}

.features-second {
    margin: 20px;
    border-radius: 0.25rem;
    /* width: 70%; */
}

.features-second h4 {
    margin-top: 10px;
    font-size: 21px;
}

.features-second p {
    margin-bottom: 10px;
}

.dropcaps-circle {
    float: left;
    margin: 1px 25px 10px 0;
    background-color: #fcfcfc;
    border: 1px solid #eaeaea;
    width: 80px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    color: #017df7;
    font-size: 40px;
    line-height: 80px;
    position: relative;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.responsive-tabs {
    margin: 20px;
}
.responsive-tabs .state {
    position: absolute;
    left: -10000px;
}

.responsive-tabs .flex-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.responsive-tabs .flex-tabs .tab {
    display: flex;
}

.responsive-tabs .flex-tabs .panel {
    padding: 10px;
    /* min-height: 300px; */
    display: none;
    /* width: 300px; */
    flex-basis: auto;
}

.responsive-tabs .tab {
    border-radius: 10px;
    margin: 4px;
}

.responsive-tabs .tab:hover {
    background-color: #fff;
    transition: all 1s;
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
    background-color: #fff;
    cursor: default;
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
    display: flex;
}
/* Make it responsive by changing the flex-direction and order in the CSS media queries. */

@media (max-width: 600px) {
    .flex-tabs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .flex-tabs .tab {
        background: #fff;
        border-bottom: 1px solid #ccc;
    }

    .flex-tabs .tab:last-of-type {
        border-bottom: none;
    }

    .flex-tabs #tab-one-label {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1;
    }

    .flex-tabs #tab-two-label {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3;
    }

    .flex-tabs #tab-three-label {
        -webkit-box-ordinal-group: 6;
        -webkit-order: 5;
        -ms-flex-order: 5;
        order: 5;
    }

    .flex-tabs #tab-four-label {
        -webkit-box-ordinal-group: 8;
        -webkit-order: 7;
        -ms-flex-order: 7;
        order: 7;
    }

    .flex-tabs #tab-one-panel {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
    }

    .flex-tabs #tab-two-panel {
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4;
    }

    .flex-tabs #tab-three-panel {
        -webkit-box-ordinal-group: 7;
        -webkit-order: 6;
        -ms-flex-order: 6;
        order: 6;
    }

    .flex-tabs #tab-four-panel {
        -webkit-box-ordinal-group: 9;
        -webkit-order: 8;
        -ms-flex-order: 8;
        order: 8;
    }

    #tab-one:checked ~ .tabs #tab-one-label,
    #tab-two:checked ~ .tabs #tab-two-label,
    #tab-three:checked ~ .tabs #tab-three-label,
    #tab-four:checked ~ .tabs #tab-four-label {
        border-bottom: none;
    }

    #tab-one:checked ~ .tabs #tab-one-panel,
    #tab-two:checked ~ .tabs #tab-two-panel,
    #tab-three:checked ~ .tabs #tab-three-panel,
    #tab-four:checked ~ .tabs #tab-four-panel {
        border-bottom: 1px solid #ccc;
    }
}
